:root {
  --sidebar-width: 20rem;
}

.App {
  text-align: center;
  height: 100vh;
}

.App-sidebar {
  background-color: #2a2834;
  min-width: var(--sidebar-width);
  max-width: var(--sidebar-width);
  min-height: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.MuiTreeView-root {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  text-align: left;
  min-width: inherit;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: var(--sidebar-width);
  margin-top: -100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
